.menu{
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;

    .menu-item{
        display: flex;
        align-items: center;
        padding: 10px;
        font-size: 28px;
        box-sizing: border-box;
        transition: all .3s;
        

        .title{
            font-size: 18px;
            font-weight: 600;
            margin-left: 8px;
        }

        &:hover{
            background: var(--hoverColor);
        }

        // svg{
        //     width: 28px;
        //     height: 28px;
        // }
        &.active{
            color: var(--primaryColor);
        }
    }

}