.content {
  min-width: 225px;
  padding: 0;

  button,
  a {
    box-sizing: border-box;
    height: 41px;
    width: 100%;
    font-weight: normal;
    padding: 10px 8px 10px 16px;
    transition: all 0.3s;
    font-size: 16px;

    &:hover {
      background: var(--hoverColor);
    }
  }

  .menu-btn-item {
    + .menu-btn-item {
      margin-left: 0;
    }
  }
  .separate{
    border-top: 1px solid var(--borderColor);
  }

  // header
  .menu-header {
    display: flex;
    align-items: center;
    max-width: 224px;

    .menu-header-btn-back {
      width: 50px;
      height: 100%;
      background: #fff;
      cursor: pointer;
    }

    .menu-header-title {
      width: 100%;
      font-size: 16px;
      margin-left: 10px;
      h4 {
        font-weight: 600;
      }
    }
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
